.home-about {
	.home-about__img {
	}
	.home-about-info {
		.home-about-info__name {
		}
		.home-about-info__title {
		}
		.home-about-info__text {
		}
	}
}

.our-solutions {
	.our-solutions-info {
		.our-solutions-info__name {
		}
		.our-solutions-info__title {
		}
		.our-solutions-info__text {
		}
		.our-solutions-info__button {
		}
	}
	.our-solutions-news {
		.our-solutions-news__img {
		}
		.our-solutions-news__title {
		}
		.our-solutions-news__text {
		}
	}
}

.insights {
	.insights__name {
	}
	.insights__title {
	}
	.insights-show {
		.insights-show-item {
			.insights-show-item__img {
			}
			.insights-show-item__title {
			}
			.insights-show-item__text {
			}
		}
	}
}

.careers {
	.careers-info__title {
	}
	.careers-info__name {
	}
	.careers-info__text {
	}
	.careers-info-show {
		.careers-info-show__item {
			display: flex;
			.career-info-show-item__img {
			}
			.careers-info-show-item-info {
				.careers-info-show-item-info__title {
				}
				.careers-info-show-item-info__text {
				}
			}
		}
	}
}

.application-process {
	.application-process__name {
	}
	.application-process__title {
	}
	.application-process-show {
		.application-process-show-item {
			.application-process-show-item__title {
			}
			.application-process-show-item__img {
			}
			.application-process-show-item__text {
			}
		}
	}
}
