.home-about {
	.home-about__img {
	}
	.home-about-info {
		.home-about-info__name {
		}
		.home-about-info__title {
		}
		.home-about-info__text {
		}
	}
}

.our-solutions {
	.our-solutions-info {
		.our-solutions-info__name {
		}
		.our-solutions-info__title {
		}
		.our-solutions-info__text {
		}
		.our-solutions-info__button {
		}
	}
	.our-solutions-news {
		.our-solutions-news__img {
		}
		.our-solutions-news__title {
		}
		.our-solutions-news__text {
		}
	}
}
